.table {
    width: 100%;
    margin-top: 2rem;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
    text-align: center;  
}

.user-details p {
    margin: 0;
}

.btn {
    margin-right: 5px;
}
